* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensure padding and border are inside width/height */
}

body {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f0f0f0; /* Optional background color */
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
p {
  color: white;
  text-shadow: 1px 1px 2px black;
}

#temperature {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-container {
  position: relative;
  width: 150px; /* Adjusted width for better scaling */
  height: 150px;
  margin: 20px auto;
}

#icon {
  width: 100%; /* Ensure the icon takes up the full container size */
  height: 100%;
  object-fit: contain;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main.app {
  background-color: #333; /* Dark background for better contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
